.main {
    font-family: 'Inter' sans-serif;
    color: #E2E8F0;
}

/* HEADER - ELEMENTO PAI */
.informations {
    display: flex;
    flex-direction: column;
}

.informations-title {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    margin: 0;
}

.title-link {
    text-decoration: inherit;
    color: rgb(226 232 240/1);
}

.informations-subtitle {
    display: block;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline: 0;
    font-size:1.25rem;
    font-weight: 500;
    margin: 12px 0 0;
    color: rgb(226 232 240/1);
}

.informations-text {
    font-size: 16px;
    color: rgb(148 163 184/1);
    margin: 16px 0 0;
    max-width: 20rem;
}

/* LISTA/CABEÇALHO - NAV */
.informations-links {
    display: block;
    margin-top: 4rem;
}

.links-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}